<div class="row full-width fixed">
  <div id="header"></div>
</div>

<div data-alert class="js-alert app-alert alert-box alert">
  Lost connection to Bittorrent Sync...
</div>

<div class="row full-width">
  <div id="content"></div>
</div>
