<div class="draft">
  <div class="row collapse">
    <div class="small-12 column">
      <a href="/compose/{{ id }}" class="summary">
        {{ summary }}&hellip;
      </a>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-12 column">
      <div class="date">{{nanoDate created}}</div>
    </div>
  </div>
</div>
