<table>
  <tr>
    <th colspan="2">New Post</th>
  </tr>
  <tr>
    <td>
      <textarea class="js-editor">{{ title }}</textarea>
    </td>
    <td>
      <div class="preview js-preview"></div>
    </td>
  </tr>
</table>

<div class="row collapse">
  <a href="#" class="tiny secondary button js-save">Save</a>
  <a href="#" class="tiny button js-post">Post</a>
</div>
