<div class="friends">
  {{!-- <h2>Friends</h2> --}}

  <div class="search">
    <input id="query" class="js-search" type="search" placeholder="search friends..." autocomplete="off">
  </div>

  <ul />
</div>
