<div class="row collapse">
  <div class="small-2 column">
    <img class="avatar" src="{{ avatar }}">
  </div>
  <div class="small-10 column">
    <a href="/timeline/{{ id }}">
      {{ name }}
    </a>
  </div>
</div>
