<h1 class="left">
  <a href="/timeline">Vole</a>
</h1>
<nav class="secondary right">
  <a href="/compose" class="js-compose">&#x1F4DD;</a>
  <a href="#" class="js-add">&#x002B;</a>
</nav>
<nav class="main right">
  <a href="/timeline" class="js-home">&#x2302;</a>
  <a href="/profile" class="js-user">&#x1F464;</a>
  <a href="/preferences" class="js-preferences">&#x2699;</a>
  <a href="#" class="js-info">&#x2753;</a>
</nav>

