<h2>Welcome to Vole! Let's get started.</h2>

<div class="js-step-1 step">
  <div class="row">
    <div class="large-12 columns">
      <h3>Step 1:</h3>
      <p>Are you a new user? Or do you have a read-write key?</p>
      <button class="js-new-user tiny button">New User</button>
      <button class="js-returning-user tiny button">Read-Write Key</button>
    </div>
  </div>
</div>

<div class="js-step-2a step">
  <div class="row">
    <div class="large-12 columns">
      <h3>Step 2:</h3>
      <input class="js-name" type="text" placeholder="Name" />
      <p>This is the name other Vole users will see.</p>
      <button class="js-back tiny left alert button">Back</button>
      <button class="js-set-name tiny right button">Next</button>
    </div>
  </div>
</div>

<div class="js-step-2b step">
  <div class="row">
    <div class="large-12 columns">
      <h3>Step 2:</h3>
      <input class="js-key" type="text" placeholder="Read-write key" />
      <p>You can get this from your other Vole installation.</p>
      <button class="js-back tiny left alert button">Back</button>
      <button class="js-set-key tiny right button">Next</button>
    </div>
  </div>
</div>

<div class="js-step-3 step">
  <div class="row">
    <div class="large-12 columns">
      <h3>Step 3:</h3>
      <input class="js-avatar" type="text" placeholder="Email" />
      <p>Vole only uses your email address to get your Gravatar.</p>
      <button class="js-back tiny left alert button">Back</button>
      <button class="js-set-avatar tiny right button">Next</button>
    </div>
  </div>
</div>

<div class="js-step-4 step">
  <div class="row">
    <div class="large-12 columns">
      <h3>Step 4:</h3>
      <p>Saving configuration</p>
      <div class="spin"></div>
    </div>
  </div>
</div>

<div class="js-step-5 step">
  <div class="row">
    <div class="large-12 columns">
      <h3>Congratulations!</h3>
      <p>You're ready to start using Vole.</p>
      <a class="small button" href="/timeline">Let's Go!</a>
    </div>
  </div>
</div>
