<ul class="posts-list js-posts" />

<div class="empty">
  Looks like there are no posts :(
  <a href="/compose">Maybe you should write one :)</a>
</div>

<button class="button tiny expand load-more js-load-more">
  load more
</button>
