
body {
  background-color: #222;
}

.main h3 {
  margin-top: 0;
}

#new-post {
  width: auto;
}

ul.posts {
  list-style: none;
  margin: 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

  ul.posts li {
    padding: 10px 5px;
    border-bottom: 1px solid #DDD;
    line-height: 2em;
    cursor: pointer;
  }

  ul.posts li:hover {
    background-color: #EFEFEF;
  }

    ul.posts li span.user {
      font-weight: bold;
      padding: 0 10px 0 0;
      display: block;
      float: left;
      width: 80px;
    }

    ul.posts li span.user:after {
      content: ": ";
    }

    ul.posts li span.time {
      display: inline-block;
      float: right;
      color: #CCC;
    }

      span.post img {
        max-width: 128px;
        max-height: 128px;
        padding: 5px;
        border: 1px solid #CCC;
        border-radius: 4px;
      }

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}
