<div class="info">
  <a class="modal-close js-close">&#x2421;</a>

  <h2>Vole</h2>
  <p>
    Created by Mark Theunissen and Aaron Forsander.
  </p>
  <a target="_blank" class="website" href="http://vole.cc/">vole.cc</a>
  <a target="_blank" class="github" href="https://github.com/vole">
    <img src="/img/GitHub-Mark-32px.png">
  </a>
</div>
