@import '../normalize.css';
@import '../foundation.css';

/**
 * Fonts
 */
@font-face {
  font-family: 'SSStandard';
  src: url('/fonts/ss-standard.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster.ttf');
}

/**
 * Global
 */
body {
  /*background-color: #eee;*/
  color: #333;
}

#app {
  margin-top: 40px;
}

.full-width {
  max-width: inherit;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #777;
  font-weight: 300;
  font-size: 12px;
}

.button {
  background-color: #008BFF;
}

.app-alert {
  display: none;
}

/**
 * Modals
 */
#modal-overlay {
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal {
  opacity: 1;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-content {
  width: 600px;
  margin: 30px auto;
  position: relative;
  background-color: white;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: SSStandard;
  color: #008BFF;
}

/**
 * Header
 */
.header {
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(#f5f5f7, #e9e9ea);
  background-image: -webkit-linear-gradient(#f5f5f7,#e9e9ea);
  background-image: -moz-linear-gradient(#f5f5f7,#e9e9ea);
  background-image: -ms-linear-gradient(#f5f5f7,#e9e9ea);
  background-image: -o-linear-gradient(#f5f5f7,#e9e9ea);
}

.header h1 {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding-left: 10px;
  font-family: Lobster;
  /*text-shadow: 1px 1px 1px #000;*/
}

.header h1 a,
.header h1 a:visited {
  color: #008BFF;
}

.header nav {
  height: 39px;
  line-height: 45px;
}

.header nav a {
  font-family: SSStandard;
  color: #008BFF;
  font-size: 16px;
  padding: 0 0 0 10px;
}

.header nav.main {
  border-right: 1px solid #ddd;
  padding-right: 15px;
}

.header nav.secondary {
  padding: 0 10px 0 5px;
}

/**
 * Friends list.
 */
.friends {
  /*margin: 30px 0 0 0;*/
  border-right: 1px solid #eee;
  /*border-radius: 4px;*/
  background-color: #fff;
}

.friends .search {
  padding: 10px;
}

.friends .search input {
  margin: 0;
  box-shadow: none;
}

.friends nav {
  font-family: SSStandard;
  height: 40px;
}

.friends nav a {
  color: #222;
  line-height: 45px;
  padding: 0 5px;
}

.friends form {
  display: none;
}

.friends ul {
  list-style: none;
  margin: 0;
}

.friends ul li {
  padding: 10px 15px;
  border-top: 1px solid #eee;
}

.friend a {
  color: #333;
  padding-left: 12px;
  font-size: 14px;
  display: block;
  font-weight: 300;
  line-height: 32px;
}

/**
 * Timeline.
 */
.posts {
  /*margin: 30px 0 0 0;*/
  /*box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);*/
  padding-bottom: 100px;
  background-color: #fff;
  border-left: 1px solid #eee;
}

.posts .load-more {
  width: 50%;
  margin: 20px auto 0 auto;
  display: block;
}

.posts .spinner {
  margin: 50px auto 0 auto;
  height: 50px;
}

.post {
  padding: 20px 20px 20px 100px;
  position: relative;
  border-top: #fff;
  box-shadow: 0 -1px 0 #eee;
  min-height: 102px;
}

.post:hover {
  border-right: 3px solid #008BFF;
}

.post:first-child {
  box-shadow: none;
}

.post .avatar {
  float: left;
  margin-left: -70px;
  max-width: 50px;
}

.post .name {
  font-weight: 400;
  margin-bottom: 10px;
}

.post .date {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 11px;
  color: #aaa;
  font-weight: 300;
}

.post:hover .date {
  right: 17px;
}

.post .body img {
  max-width: 400px;
}

.post .body p {
  font-size: 16px;
  font-weight: 300;
}

.post .actions {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: none;
}

.post .actions a {
  font-family: SSStandard;
  font-size: 11px;
  color: #555;
}

.post:hover .actions {
  display: block;
}

/**
 * Compose.
 */
.editor {
  padding: 20px;
}

.editor table {
  border-collapse: collapse;
  width: 100%;
}

.editor td {
  border: 1px solid #ccc;
  padding: 0;
  width: 50%;
  vertical-align: top;
}

.editor th {
  text-align: left;
  color: #333;
  background-color: #eee;
  border: 1px solid #ccc;
}

.editor textarea {
  background-color: inherit;
  resize: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

textarea.autosizejs {
  line-height: 18px !important;
}

.editor .preview {
  padding: 10px;
}

.drafts {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.drafts ul {
  list-style: none;
  margin: 0;
}

.drafts ul li {
  border-top: 1px solid #eee;
}

.drafts ul li:first-child {
  border: none;
}

.draft {
  font-size: 12px;
  padding: 10px 15px;
}

.draft a {
  color: #222;
}

.draft a:hover {
  text-decoration: underline;
}

.draft .date {
  font-weight: bold;
}

.draft .summary {

}

/**
 * Info modal.
 */
.info {
  text-align: center;
}

.info h2 {
  font-family: Lobster;
  color: #008BFF;
}

.info p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.info .github {
  display: block;
  width: 32px;
  height: 32px;
  margin: 20px auto 0 auto;
}

.info .website {

}

/**
 * Loading spinner.
 */
div.loading {
  font-family: SSStandard;
  height: 20px;
  width: 20px;
  font-size: 20px;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
