<div class="add clearfix">
  <a class="modal-close js-close">&#x2421;</a>
  <h2>Add friend</h2>
  <input type="text" placeholder="sync read-only key">
  <small class="error js-error"></small>
  <a href="#" class="tiny right button js-add">Add</a>
  <div class="right js-spin"></div>
</div>
